@page
@model RazerPagesMovie.Pages.BananaModel
@{
    ViewData["Title"] = "This is Banana World";
    ViewData["Banana"] = "Banana";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Banana"]</h2>

<p>...</p>
<a href="https://www.labanane.ca/">
    <img src="~/images/banana_background.png" alt="Banana4k" width="1080" height="auto" />
<a/>